body {
    margin:0;
}

#navbar {
    text-align: center;
    background-color: rgb(20, 65, 73);
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1;
}

#navbar ul {
    display: inline-block;
    list-style-type: none;
}

#navbar li {
    float: right;
    font-size: 30px;
    font-style: oblique;
    margin-left: 5px;
    margin-right: 55px;
    margin-top: -15px;
    margin-bottom: -15px;
}

#navbar li a {
    display: block;
    color : orange;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover:not(.active) {
    background-color: darkblue;
}

#navbar li .active {
    background-color: white;
}

#container {
    position: fixed;
    background-color: aqua;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 80%;
    width: 80%;
}

#container ul {
    list-style-type: none;
}

#container img {
    margin: 10px;
    max-height: 250px;
}

div.movingImage {
    width: 250px;
    height:250px;
    position:absolute;
    overflow: hidden;
    padding: none;
    //margin: 15px;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-top-left-radius: 180px;
}

.movingImage img {
    height: auto;
    width: auto;
    z-index: 0;
    //box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

p {
    font-size: 40px;
}

.name {
    padding-top: 120px;
    padding-left: 90px;
    position: fixed;
}

.name h {
    font: "Arial Bold";
    font-size: 24px;
}
